<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/berkayyerdelen/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="berkayyerdelen" />
			<add key="ClearTextPassword" value="45e27774ae224b28dd4d39688ddd5af139458769" />
		</github>
	</packageSourceCredentials>
</configuration>