<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/berkayyerdelen/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="berkayyerdelen" />
			<add key="ClearTextPassword" value="57fbdbc09f979938fda4c7b63e682ac98640c89e" />
		</github>
	</packageSourceCredentials>
</configuration>