<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/berkayyerdelen/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="dualist1224" />
			<add key="ClearTextPassword" value="lejyoenr" />
		</github>
	</packageSourceCredentials>
</configuration>